body{
    background-color: #f3f3f3;
    
}

h1,h3, h4, h5{
    text-align: center;
    margin: 40px;
}
 .scores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 button{
    width: 200px;
    height: 70px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
 }

 button:hover {
    background-color: #2f7432; 
  }
  

  button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
 
button {
    animation: bounce 0.5s;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

 #buttons{
    display: flex;
    justify-content: space-evenly;

 }

 p, h3, h4, h5{
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: #333; 
 }

 h1{
    font-size: 40px;
    font-family: 'Arial Black', sans-serif; 
    color: #007bff; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
 }

